[submodule ".submodules/owasp-masvs"]
	path = .submodules/owasp-masvs
	url = https://github.com/owasp/owasp-masvs.git
[submodule ".submodules/hacktricks"]
	path = .submodules/hacktricks
	url = https://github.com/carlospolop/hacktricks.git
[submodule ".submodules/owasp-asvs"]
	path = .submodules/owasp-asvs
	url = https://github.com/OWASP/ASVS
